/* Colors */
$au-dark-blue: #1b365d;

$au-light-grey: #edeff5;

$au-white: #fafbfc;

$au-grey: #d3d8e6;

$au-dark-grey: #abb5d1;

$my-grey: #555;
//
.au-dark-blue {
  background-color: #1b365d;
}
.au-orange {
  background-color: #eb6a2c;
}
.au-blue {
  background-color: #17457a;
}
.au-light-blue {
  background-color: #006ba6;
}
.au-light-grey {
  background-color: #edeff5;
}
.au-grey {
  background-color: #d3d8e6;
}
.au-dark-grey {
  background-color: #abb5d1;
}
.au-white {
  background-color: #fafbfc;
}
.black {
  background-color: #000;
}
.my-dark-grey {
  background-color: #333;
}
.my-grey {
  background-color: #555;
}
