.App {
  text-align: left;
  font-family: 'Open Sans Regular', 'Open Sans Semibold', sans-serif;
  font-size: 1rem;
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Regular', 'Open Sans Semibold', sans-serif;
}
p {
  font-family: Georgia, serif;
}
p.lead {
  font-family: 'Open Sans Regular', 'Open Sans Semibold', sans-serif;
}

.feature-img {
  position: relative;
  height: 70vh;
  background-image: url(images/feature-img-01.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.feature-img > div {
  position: absolute;
  top: 50vh;
  left: 70vw;
  width: 50vw;
  background-color: rgba(27,54,93,0.8);
  color: #fff;
}
section {

}
.container {
  width: 80vw;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.container > div > h1 {
  max-width: 55vw;
}
.container-dark {
  width: 80vw;
  padding-top: 0;
}
.container-dark > div > i {
  margin-top: -36px;
}
.container-dark > div > h1 {
  max-width: 55vw;
}

.icons i {
  border-radius: 50%;
  @include gradients($au-dark-blue, 50);
  color: #fff;
  font-size: 3rem;
}

.icons > .light-icon {
  border-radius: 50%;
  @include gradients($au-white, 50);
  color: #333;
  font-size: 3rem;
}
