.App {
  text-align: center;
  font-family: 'Open Sans Regular', 'Open Sans Semibold', sans-serif;
}
h1, h2, h3, h4, h5 {
  font-family: 'Open Sans Regular', 'Open Sans Semibold', sans-serif;
}
p {
  font-family: Georgia, serif;
}

.feature-img {
  position: relative;
}
.feature-img > div {
  position: absolute;
  top: 50vh;
  left: 70vw;
  width: 50vw;
  background-color: rgba(27,54,93,0.8);
  color: #fff;
}
section {
  max-width: 80vw;
}
.icons i {
  border-radius: 50%;
  @include gradients($au-dark-blue, 50);
  color: #fff;
  font-size: 3rem;
}
